documents/
.DS_Store
*.swp
*.txt

centering.png
pca.png
positive_train_1.png
poster/
result.png
theta_t_negtive_I.png
theta_t_positive_I.png
train_150000.png
weight.png
x1.png
x2.png
x3_mirror_lower.png
